body {
    background-color: rgb(4, 101, 4);
    color: aliceblue;
    margin: 10px 100px 10px 100px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

a:link {
    color: rgb(76, 9, 138);
    background-color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(76, 9, 138);
    background-color: black;
}

h1 {
    color: rgb(76, 9, 138);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;

}

p {
    text-align: center;
}

h2 {
    color: rgb(76, 9, 138);
    text-decoration: underline;
}
table{
    margin:auto;
    color: black;
}

